/* 版心 */
.container {
    margin: 0 auto;
    width: 1180px;
}

// 头部导航
header {

    height: 40px;
    background-color: #2b303b;
    padding: 0 20px;
    position: relative;
    font-size: 0;
    z-index: 1001;

    .header-left {
        position: absolute;
        left: 20px;
        top: 0px;

        a:first-child {
            height: 100%;
            // display: inline-block;
            text-align: left;
            cursor: pointer;
            padding: 12px 20px 12px 0;
            box-sizing: border-box;
            float: left;
            position: relative;
            z-index: 1001;

            i {
                width: 16px;
                height: 16px;
                display: inline-block;
                background-image: url(../images/base-202004131024.svg);
                vertical-align: middle;
                background-position: 99.52% 0.5499999999999999%;
                background-size: 1400% 1243.75%;
                background-repeat: no-repeat;
            }
        }

        span {
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            line-height: 16px;
            color: #fff;
            padding-left: 8px;
        }
    }

    .header-left-line {
        float: left;
        margin-right: 20px;
        height: 16px;
        margin: 12px 10px;
        vertical-align: middle;
        width: 1px;
        background-color: rgba(255, 255, 255, .2);
        position: relative;
        z-index: 1001;
    }

    .header-logo {
        height: 100%;
        display: inline-block;
        z-index: 1000;
        position: relative;

        i {
            width: 78px;
            height: 18px;
            margin-top: 11px;
            display: inline-block;
            background-image: url(../images/logo-bg-color.svg);
            background-size: 100% 100%;
            text-indent: -10000px;
        }
    }

    .header-right {
        font-size: 0;
        position: absolute;
        top: 0;
        right: 10px;
        height: 100%;

        a:hover {
            color: #029df3 !important;
        }
    }

    .header-serach {
        float: left;
        position: relative;
        width: 160px;
        // width: 424px;
        text-align: left;
        padding-left: 12px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 0 10px;
        height: 40px;
        line-height: 40px;
        background-color: #383e4d;
        font-size: 12px;
        color: #8A8E99;

        i {
            position: absolute;
            right: 12px;
            top: 12px;
            z-index: 2;
            background-image: url(../images/base-202004131024.svg);
            width: 16px;
            height: 16px;
            vertical-align: sub;
            background-position: 90.86999999999999% 89.07000000000001%;
            background-size: 1400% 1243.75%;
            background-repeat: no-repeat;
        }

        input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;

            &::placeholder {
                color: #595e6c;
            }
        }

        .header-serach-list {
            display: none;
            position: absolute;
            width: 424px;
            left: 0;
            background-color: #383e4d;

            h3 {
                padding-left: 15px;
                font-size: 12px;
                font-weight: 400;
                color: #8c8e99;
                line-height: 30px;
                transform: none;
                opacity: 1;
                transition: all .4s ease;
            }

            ul {
                li {
                    transform: none;
                    opacity: 0;
                    transition: all .4s ease;

                    a {
                        padding: 0 15px;
                        color: #fff;
                        line-height: 30px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    .header-select {
        float: left;
        height: 100%;

        div:nth-child(1) {
            float: left;
            position: relative;
            color: #fff;
            font-size: 0;
            transition: background-color .4s;
            outline: 0;
            height: 40px;
            box-sizing: border-box;
            line-height: 1;

            a {

                position: relative;
                padding-left: 10px;
                padding-right: 10px;
                display: inline-block;
                color: #fff;
                font-size: 0;
                transition: background-color .4s;
                outline: 0;
                padding-top: 12px;
                height: 40px;
                box-sizing: border-box;
                line-height: 1;

                span {
                    margin-left: 5px;
                    font-size: 12px;
                    vertical-align: middle;
                }

                .global {
                    width: 16px;
                    height: 16px;
                    background-image: url(../images/base-202004131024.svg);
                    margin-right: 0;
                    display: inline-block;
                    vertical-align: middle;
                    background-position: 90.86999999999999% 69.39999999999999%;
                    background-size: 1400% 1243.75%;
                    background-repeat: no-repeat;
                }

                .jiantou {
                    width: 6px;
                    height: 4px;
                    display: inline-block;
                    vertical-align: middle;
                    background-image: url(../images/base-202004131024.svg);
                    margin-left: 5px;
                    background-position: 94.95% 98.97%;
                    background-size: 3733.3333333333335% 4975%;
                    background-repeat: no-repeat;
                }
            }
        }

        & div:last-child {
            float: left;

            a {
                display: inline-block;
                padding: 0 10px;
                height: 40px;
                line-height: 40px;
                font-size: 12px;
                color: #fff;
                // float: left;
            }
        }
    }
}

// nav 部分
nav {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    border-bottom: 1px solid #333944;

    ul {

        li {
            float: left;
        }

        a {
            display: inline-block;
            padding: 0 15px;
            color: #fff;
            line-height: 54px;
            height: 54px;
            font-size: 14px;
            transition: background-color .4s
        }

        a:hover {
            color: #00a4ff;
        }
    }
}

// banner部分
.banner {
    height: 300px;
    background-image: url(../images/cdb-banner.jpg);
    background-size: cover;

    .container {
        position: relative;
        padding: 105px 0 0 10px;
    }

    .banner-ct {
        position: relative;
        width: 70%;
        z-index: 5;

        h1 {
            font-size: 36px;
            line-height: 50px;
            color: #fff;
            font-weight: 400;
        }

        .banner-ct-des {
            margin: 8px 0 24px;
            font-size: 14px;
            color: #fff;
            line-height: 1.7;
        }

        .banner-buy {
            display: inline-block;
            min-width: 160px;
            height: 36px;
            line-height: 36px;
            margin-right: 20px;
            padding: 0 20px;
            background-color: #00a4ff;
            text-align: center;
            color: #fff;
            font-size: 14px;
        }

        .banner-console {
            display: inline-block;
            min-width: 160px;
            height: 36px;
            padding: 0 20px;
            font-size: 14px;
            border: 1px solid #888;
            text-align: center;
            line-height: 36px;
            color: #fff;
            background-color: transparent;
        }

        .banner-zj {
            display: inline-block;
            margin-right: 20px;
            margin-left: 10px;
            min-width: 0;
            height: 36px;
            line-height: 36px;
            border-color: transparent;
            padding-left: 0;
            padding-right: 0;
            margin-left: 10px;
            color: #fff;
            font-size: 14px;
        }

    }

    .banner-img {
        position: absolute;
        width: 350px;
        height: 240px;
        top: 60px;
        right: 0;
        perspective: 800px;
        background-image: url(../images/banner-ape.png);
        background-size: cover;
    }
}

// 智能识图简介bar部分
.ape-bar {
    background-color: #fff;

    .container {
        padding: 0 10px;
    }

    ul {
        transform: translateX(0px);
        transition: transform .3s ease, -webkit-transform .3s ease;

        li {
            display: inline-block;
            position: relative;
            margin-left: 10px;
            margin: 0 1.35%;
            vertical-align: middle;

            a {
                display: block;
                height: 55px;
                line-height: 54px;
                padding: 0 10px;
                font-size: 14px;
                color: #000;

            }
        }
    }
}

// 智能识图简介内容部分
.ape-ct {
    background-color: #f7f8fa;

    .ape-ct-bd {
        display: inline-block;
    }

    .container {
        padding: 0 10px;
    }

    .ape-ct-con {
        display: inline-block;
        width: 71%;
        vertical-align: middle;
        padding-right: 8%;

    }

    .ape-ct-into {
        position: relative;
        line-height: 1.5;
        padding: 30px;
        background-color: inherit;
    }

    .ape-ct-body {
        display: table-cell;
        padding-top: 10px;
        vertical-align: top;

        h4 {
            font-size: 18px;
            color: #333;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;

            img {
                vertical-align: middle;
                margin-right: 12px;
                width: 48px;

            }
        }

        p {
            text-align: justify;
            margin-top: 20px;
            font-size: 14px;
            color: #666;
            line-height: 1.7;
            word-wrap: break-word;
        }
    }

    .ape-ct-aside {
        display: inline-block;
        width: 27.94%;
        padding-top: 70px;
        vertical-align: middle;

    }

    .ape-ct-about {
        margin-bottom: 20px;

        a {
            display: block;
        }
    }

    .ape-ct-img {
        position: relative;

        img {
            display: block;
            min-height: 150px;
            width: 100%;


        }
    }

    .ape-ct-img-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0 30px 30px;

        div {
            display: inline-block;
            font-size: 14px;
            padding: 3px 5px;
            background-color: #fff;
            border-radius: 2px;
            color: #333;
            margin-top: 20px;
        }

        h3 {
            padding-right: 20px;
            color: #fff;
            font-size: 18px;
            line-height: 1.6;
            margin-top: 15px;
            font-weight: 400;
        }
    }

    .ape-ct-bar {
        padding-left: 13px;
        line-height: 40px;
        border: 1px solid #e5e5e5;
        background-color: #fff;
        border-top: 0;

        div {
            display: inline-block;
            margin-right: 20px;

            i {
                display: inline-block;
                vertical-align: middle;
                width: 16px;
                height: 16px;
                background-image: url(../images/global-202004231022.svg);
                background-position: 90.88000000000001% 76.41%;
                background-size: 1950% 1875%;
                background-repeat: no-repeat;
            }

            span {
                font-size: 14px;
                color: #666;
                vertical-align: middle;
            }
        }
    }
}

// 智能识图特性
.ape-tx {
    padding: 45px 10px 50px;

    .container {
        padding: 0 10px;
    }

    .ape-tx-hd {
        margin-bottom: 30px;
        text-align: center;

        h3 {
            font-size: 24px;
            color: #000;
            font-weight: 400;
            line-height: 1.5;
        }
    }

    .ape-tx-list-item {
        display: inline-block;
        width: 32.333333%;
        zoom: 1;
        vertical-align: top;
        font-size: 14px;
    }

    .ape-tx-inner {
        background-color: inherit;
        line-height: 1.5;
        padding: 20px;
    }

    .ape-tx-img {
        width: 100%;
        text-align: center;

        img {
            display: inline-block;
            width: 48px;
            height: 48px;
        }
    }

    .ape-tx-body {
        margin-top: 20px;

        h4 {
            text-align: center;
            font-size: 18px;
            color: #333;
            margin: 0;
            padding: 0;
            font-weight: 400;
            line-height: 1.5;
        }

        p {
            font-size: 14px;
            color: #666;
            margin-top: 10px;
            line-height: 1.7;
            word-wrap: break-word;
        }
    }
}

// 应用场景
.yycj {
    padding: 45px 10px 50px;
    background-color: #f7f8fa;

    .container {
        padding: 0 10px;
    }

    .yycj-hd {
        margin-bottom: 30px;
        text-align: center;

        h3 {
            font-size: 24px;
            color: #000;
            font-weight: 400;
            line-height: 1.5;
        }
    }

    // 应用场景主体
    .yycj-bd {
        .yycj-bd-ct {
            text-align: center;
        }

        ul {
            position: relative;
            border-bottom: #e5e5e5 2px solid;

            li {
                position: relative;
                display: inline-block;
                border: 0;
                min-width: 145px;
                margin-right: 10px;
                margin-left: 10px;

                a {
                    display: block;
                    padding: 10px 30px;
                    font-size: 16px;

                    &::after {
                        display: inline-block;
                        content: "";
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -2px;
                        background-color: transparent;
                        z-index: 1;
                    }
                }
            }

            li.active a {
                color: #00a4ff;
            }

            li.active a::after {
                background-color: #00a4ff;
            }
        }
    }

    .yycj-item {
        display: none;
        opacity: 0;
    }

    .yycj-item-ct {
        max-width: 830px;
        margin: 0 auto;
        padding: 40px 0;
        padding-bottom: 0;
        word-wrap: break-word;
        text-align: left;

        h3 {
            position: relative;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;
            line-height: 1.7;
        }

        p {
            font-size: 14px;
            margin-bottom: 10px;
            line-height: 1.7;
            color: #333;

            img {
                width: 100%;
                margin: 40px 0;
                margin-bottom: 0;
            }
        }
    }
}

// 申请智能识图
.apply {
    position: relative;
    padding: 45px 10px 50px;

    .container {
        padding: 0 10px;
    }

    .apply-left {
        display: inline-block;
        width: 59%;
        vertical-align: top;
        padding-right: 60px;
        padding-left: 10px;

        h4 {
            font-size: 24px;
            line-height: 33px;
            margin-top: 20px;
            margin-bottom: 10px;
            font-weight: 500;
        }
    }

    .apply-left-con {
        margin-top: 20px;
        padding-bottom: 30px;

        p {
            font-size: 16px;
            color: #666;
            line-height: 27px;
        }
    }

    .apply-left-warp {
        a {
            display: inline-block;
            width: 160px;
            height: 36px;
            line-height: 36px;
            margin-top: 30px;
            color: #fff;
            padding: 0 20px;
            background-color: #00a4ff;
            font-size: 14px;
            text-align: center;

            &:hover {
                background-color: #0092ee;
            }
        }
    }

    .apply-right {
        display: inline-block;
        width: 40%;
        padding-left: 60px;
        padding-right: 70px;

        h4 {
            font-size: 24px;
            line-height: 33px;
            margin-top: 20px;
            font-weight: 500;
            margin-bottom: 10px;

        }

        .apply-right-con {
            margin-top: 20px;
            padding-bottom: 30px;

            p {
                font-size: 16px;
                color: #666;
                line-height: 27px;
            }

            div {
                a {
                    display: inline-block;
                    width: 160px;
                    height: 36px;
                    line-height: 34px;
                    margin-top: 30px;
                    background-color: transparent;
                    color: #00a4ff;
                    border: 1px solid #00a4ff;
                    padding: 0 20px;
                    font-size: 14px;
                    text-align: center;

                    &:hover {
                        background-color: #00a4ff;
                        color: #fff;
                        border-color: #00a4ff;
                    }
                }
            }
        }
    }
}

// 页脚
footer {
    background-color: #2e3033;

    .fot-service {

        .container {
            padding: 30px 0;
            border-bottom: 1px solid #45484c;
        }

        ul {
            display: table;
            width: 100%;
        }

        li {
            display: table-cell;
            width: 21.5%;
            vertical-align: top;
            text-align: left;
            white-space: nowrap;

            a {
                display: block;
                font-size: 14px;
                color: #fff;

                .icon {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    vertical-align: middle;
                    margin-right: 10px;
                    background-image: url(../images/base-202004231022.svg);
                    background-size: 718.75% 709.375%;
                    background-repeat: no-repeat;
                }

            }
        }
    }

    .fot-website {
        .container {
            position: relative;
            padding-bottom: 27px;
            min-height: 200px;
            padding: 30px 0;
            border-bottom: 1px solid #45484c;
        }

        .fot-website-list {
            margin-right: 190px;

            &>li {
                display: inline-block;
                font-size: 14px;
                padding: 0 10px;
                vertical-align: top;
                width: 19%;
            }
        }

        .fot-website-content {
            h3 {
                margin-bottom: 15px;
                font-size: 14px;
                line-height: 1.5;
                font-weight: 400;
                color: #fff;

                a {
                    display: block;
                    color: #fff;
                    cursor: default;
                }
            }

            ul {

                li {
                    display: block;
                    padding: 0;
                }

                a {
                    display: block;
                    padding: 4px 0;
                    font-size: 12px;
                    line-height: 1.5;
                    color: #ccc;

                    &:hover {
                        color: #00a4ff;
                    }
                }
            }
        }
    }

    .fot-cpy {
        position: absolute;
        right: 0;
        top: 30px;
        width: 190px;

        ul {
            margin-bottom: 24px;

            li {
                display: inline-block;
                vertical-align: middle;
                width: 20%;
            }
        }
    }

    .fot-cpy {

        li {
            position: relative;

            a {
                display: block;

                i {
                    display: inline-block;
                    vertical-align: middle;
                    width: 16px;
                    height: 16px;
                    background-image: url(../images/base-202004231022.svg);
                    background-position: 67.75999999999999% 92.89%;
                    background-size: 1437.5% 1418.75%;
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .fot-cpy-text {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 24px;
        color: #ccc;

        span {
            display: block;
        }
    }

    .fot-cpy-phone {

        a {
            display: inline-block;
            width: 100%;
            padding: 0 8px;
            font-size: 12px;
            height: 35px;
            background-color: #00a4ff;
            color: #fff;
            text-align: center;
            line-height: 35px;

            &:hover {
                background-color: #0092ee;
            }
        }
    }

    .fot-other {
        .container {
            padding: 30px 0;
            border-bottom: 1px solid #45484c;
        }
    }

    .fot-other-list {
        position: relative;
        padding-left: 100px;
        min-height: 14px;
        margin-top: 15px;

        &:first-child {
            margin-top: 0;
        }

        h3 {
            position: absolute;
            left: 0;
            top: 0;
            width: 100px;
            line-height: 14px;
            font-size: 14px;
            color: #fff;
            font-weight: 400;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .fot-other-list-wrap {
        padding-left: 20px;
        overflow: hidden;

        ul {
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: -15px;

            li {
                display: inline-block;
                vertical-align: top;
                margin-bottom: 15px;
                padding: 0 10px;
                width: 100px;

                a {
                    line-height: 14px;
                    font-size: 12px;
                    color: #999;
                }
            }
        }
    }

    .fot-icp {
        .container {
            position: relative;
            min-height: 35px;
            padding: 30px 0;
        }
    }

    .fot-icp-left {
        margin-right: 190px;

        nav {
            position: static;
            border: none;
        }

        a {
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
            font-size: 12px;
            line-height: 26px;
            color: #ccc;
            white-space: nowrap;

            &:first-child {
                position: relative;
                top: -2px;
                width: 91px;
                height: 16px;
                background-image: url(../images/base-202004231022.svg);
                margin-right: 25px;
                background-position: 0.72% 13.270000000000001%;
                background-size: 252.74725274725273% 1418.75%;
                background-repeat: no-repeat;
            }
        }

        hr {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            border: none;
        }

        span {
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
            font-size: 12px;
            line-height: 26px;
            color: #ccc;
            white-space: nowrap;
        }
    }

    .fot-icp-right {
        position: absolute;
        right: 0;
        top: 30px;
        width: 190px;
    }

    .fot-icp-right-content {
        position: relative;

        &>a {
            display: block;
            padding: 0 30px 0 9px;
            height: 35px;
            border-radius: 2px;
            border: 1px solid rgba(255, 255, 255, .3);
            background-color: transparent;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
            line-height: 33px;
            color: #ccc;
            cursor: pointer;

            i {
                position: relative;
                top: -1px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                width: 16px;
                height: 16px;
                background-image: url(../images/base-202004231022.svg);
                opacity: .6;
                background-position: 76.17% 84.36%;
                background-size: 1437.5% 1418.75%;
                background-repeat: no-repeat;
            }

            &::after {
                content: '';
                position: absolute;
                right: 10px;
                top: 50%;
                margin-top: -2px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 4px 0;
                border-color: #ccc transparent;
                -webkit-transition: transform .2s ease, -webkit-transform .2s ease;
                transition: transform .2s ease, -webkit-transform .2s ease;
            }
        }

        div {
            display: none;
            position: absolute;
            left: 0;
            bottom: 100%;
            z-index: 999;
            padding-bottom: 4px;
            width: 100%;

            ul {
                background-color: #383c42;
                border-radius: 2px;
                padding: 5px 0;

                a {
                    display: block;
                    padding: 0 10px;
                    height: 30px;
                    font-size: 14px;
                    line-height: 30px;
                    color: #ccc;
                    cursor: default;
                }

                a.active {
                    color: #00A4FF;
                }
            }
        }
    }
}

// 腾讯云隐藏菜单
.menu {
    position: absolute;
    top: 42px;
    left: -200px;
    width: 200px;
    height: 340px;
    background-color: #f7f8fa;
    z-index: 100;
    padding-top: 24px;

    ul {

        li {


            a {
                display: block;
                color: #000000;
                line-height: 20px;
                padding: 8px 20px 8px 0;
                position: relative;
                font-size: 14px;
                padding-left: 10px;
                padding-right: 10px;

                &:hover {
                    background-color: #00a4ff;
                    color: #fff;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    width: 6px;
                    height: 8px;
                    background-image: url(../images/base-202004231022.svg);
                    margin-top: -4px;
                    right: 0px;
                    background-position: 29.020000000000003% 97.72%;
                    background-size: 3833.3333333333335% 2837.5%;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}

// 右边固定菜单

.right-menu {

    position: fixed;
    right: 10px;
    bottom: 100px;
    z-index: 10000;

    a {
        display: block;
        width: 44px;
        border-width: 1px;
        border-style: solid;
        border-color: #e1e8f0;
        text-align: center;
        cursor: pointer;
        padding: 12px 0;
        background-color: #fff;

        img {
            width: 18px;
            height: 18px;
            display: inline-block;
            vertical-align: top;
        }

        span {
            display: block;
            text-align: center;
            width: 16px;
            margin-left: auto;
            margin-right: auto;
            font-size: 16px;
            color: #00A4FF;
            line-height: 1;
            margin-top: 8px;
        }
    }
}

// 返回顶部
.gotop {
    position: fixed;
    display: none;
    border-color: #ccd1d9;
    z-index: 99;
    right: 10px;
    bottom: 15px;
    width: 44px;
    height: 44px;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #e1e8f0;
    box-shadow: 0 0 0 1px rgba(227, 229, 223, .25);
    background-color: #fff;
    opacity: 0;

    &::before {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -7px;
        top: 50%;
        margin-top: -4px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px;
        border-color: transparent transparent #666;
    }

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -7px;
        top: 50%;
        margin-top: -1px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 8px;
        border-color: transparent transparent #fff;
    }
}

// 遮罩层
.mask {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

// 固定菜单
.bar {

    position: fixed;
    width: 100%;
    top: -54px;
    height: 54px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1), 0 2px 3px 0 rgba(0, 0, 0, .1);

    .container {
        padding: 0 10px;
    }

    .bar-menu {

        float: left;
        padding: 0 25px 0 0;
        height: 100%;
        text-align: left;
        position: relative;
        z-index: 1001;

        i {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url(../images/product-202002111521.svg);
            background-position: 98.81% 65.48%;
            background-size: 625% 625%;
            background-repeat: no-repeat;
            vertical-align: middle;
        }

        span {
            padding-left: 8px;
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            color: #000;
            line-height: 54px;
            height: 54px;
        }
    }

    .bar-line {
        display: block;
        float: left;
        height: 16px;
        margin: 19px 5px 19px 0;
        width: 1px;
        background-color: #ccc;
    }

    .bar-center {
        float: left;
        vertical-align: middle;
        height: 54px;

        ul {
            height: 54px;

            li {
                display: inline-block;
                position: relative;

                a {
                    display: inline-block;
                    font-size: 16px;
                    padding: 0 25px;
                    height: 54px;
                    line-height: 54px;

                    &:hover {
                        color: #00a4ff;
                    }
                }
            }
        }
    }

    .bar-right {
        position: absolute;
        right: 60px;
        top: 0;
        font-size: 14px;
        white-space: nowrap;
        background-color: #fff;

        div {
            display: inline-block;
            margin-left: 5px;
            margin-right: 5px;
            height: 54px;
            padding-top: 9px;

            a {
                display: inline-block;
                min-width: 120px;
                height: 36px;
                padding: 0;
                line-height: 36px;
                vertical-align: middle;
                margin: 0 5px;
                color: #fff;
                font-size: 14px;
                background-color: #00a4ff;
                text-align: center;

                &:hover {
                    background-color: #0092ee;
                }

                &:last-child {
                    background-color: #fff;
                    color: #333;
                    border: 1px solid rgba(210,217,231,.28);
                    border-color: #d2d9e7;
                }

                &:last-child:hover {
                    background-color: #00a4ff;
                    color: #fff;
                }
            }
        }
    }
}