.add-info {
  padding: 11px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: static;
  background-color: #e4eff5;
  color: #333;
  text-align: center;
  margin-bottom: 0;
}

.add-info a {
  color: #00a4ff;
}

header {
  height: 40px;
  background-color: #2b303b;
  padding: 0 20px;
  position: relative;
  font-size: 0;
  z-index: 1001;
}

header .header-left {
  position: absolute;
  left: 20px;
  top: 0px;
}

header .header-left a:first-child {
  height: 100%;
  text-align: left;
  cursor: pointer;
  padding: 12px 20px 12px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  position: relative;
  z-index: 1001;
}

header .header-left a:first-child i {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url(../images/base-202004131024.svg);
  vertical-align: middle;
  background-position: 99.52% 0.5499999999999999%;
  background-size: 1400% 1243.75%;
  background-repeat: no-repeat;
}

header .header-left span {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
  color: #fff;
  padding-left: 8px;
}

header .header-left-line {
  float: left;
  margin-right: 20px;
  height: 16px;
  margin: 12px 10px;
  vertical-align: middle;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1001;
}

header .header-logo {
  height: 100%;
  display: inline-block;
  z-index: 1000;
  position: relative;
}

header .header-logo i {
  width: 78px;
  height: 18px;
  margin-top: 11px;
  display: inline-block;
  background-image: url(../images/logo-bg-color.svg);
  background-size: 100% 100%;
  text-indent: -10000px;
}

header .header-right {
  font-size: 0;
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
}

header .header-right a:hover {
  color: #029df3 !important;
}

header .header-serach {
  float: left;
  position: relative;
  width: 160px;
  text-align: left;
  padding-left: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  margin: 0 10px;
  height: 40px;
  line-height: 40px;
  background-color: #383e4d;
  font-size: 12px;
  color: #8A8E99;
}

header .header-serach i {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 2;
  background-image: url(../images/base-202004131024.svg);
  width: 16px;
  height: 16px;
  vertical-align: sub;
  background-position: 90.86999999999999% 89.07000000000001%;
  background-size: 1400% 1243.75%;
  background-repeat: no-repeat;
}

header .header-serach input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

header .header-serach input::-webkit-input-placeholder {
  color: #595e6c;
}

header .header-serach input:-ms-input-placeholder {
  color: #595e6c;
}

header .header-serach input::-ms-input-placeholder {
  color: #595e6c;
}

header .header-serach input::placeholder {
  color: #595e6c;
}

header .header-select {
  float: left;
  height: 100%;
}

header .header-select div:nth-child(1) {
  float: left;
  position: relative;
  color: #fff;
  font-size: 0;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  outline: 0;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

header .header-select div:nth-child(1) a {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  color: #fff;
  font-size: 0;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  outline: 0;
  padding-top: 12px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

header .header-select div:nth-child(1) a span {
  margin-left: 5px;
  font-size: 12px;
  vertical-align: middle;
}

header .header-select div:nth-child(1) a .global {
  width: 16px;
  height: 16px;
  background-image: url(../images/base-202004131024.svg);
  margin-right: 0;
  display: inline-block;
  vertical-align: middle;
  background-position: 90.86999999999999% 69.39999999999999%;
  background-size: 1400% 1243.75%;
  background-repeat: no-repeat;
}

header .header-select div:nth-child(1) a .jiantou {
  width: 6px;
  height: 4px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/base-202004131024.svg);
  margin-left: 5px;
  background-position: 94.95% 98.97%;
  background-size: 3733.3333333333335% 4975%;
  background-repeat: no-repeat;
}

header .header-select div:last-child {
  float: left;
}

header .header-select div:last-child a {
  display: inline-block;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
}

nav {
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  border-bottom: 1px solid #20283b;
}

nav ul li {
  float: left;
}

nav ul a {
  display: inline-block;
  padding: 0 15px;
  color: #fff;
  line-height: 54px;
  height: 54px;
  font-size: 14px;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.banner {
  width: 100%;
  height: 480px;
  margin-bottom: 76px;
}

.banner .banner-main {
  position: absolute;
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.banner .banner-main li {
  position: absolute;
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: none;
}

.banner .container {
  position: relative;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 120px 10px 0;
}

.banner .adver {
  position: absolute;
  right: 10px;
  top: 104px;
  width: 280px;
}

.banner .adver li {
  margin-bottom: 8px;
  background-color: #1C2A3F;
  border-radius: 2px;
  background-size: cover;
}

.banner .adver li a {
  display: block;
  padding: 16px 100px 16px 20px;
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
}

.banner .adver li span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 62px;
  border: 1px solid #04C8DC;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #04C8DC;
}

.banner .adver li p {
  margin-top: 4px;
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 26px;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

.banner ol {
  position: absolute;
  bottom: -264px;
  left: 14px;
}

.banner ol li {
  float: left;
  width: 30px;
  height: 3px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 3px none transparent;
}

.banner ol li:hover {
  cursor: pointer;
}

.banner ol li.active {
  background-color: #04C8DC;
}

.banner .banner-rumen {
  position: absolute;
  bottom: -420px;
}

.banner .banner-rumen .col {
  width: 280px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  text-align: left;
  margin-right: 12px;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.banner .banner-rumen .col:hover {
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  -webkit-box-shadow: 0 0 4px 0 #ccc;
          box-shadow: 0 0 4px 0 #ccc;
}

.banner .banner-rumen .col a {
  display: block;
  position: relative;
  top: 0;
  -webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
          box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 20px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

.banner .banner-rumen .col a div {
  position: relative;
  padding-left: 60px;
}

.banner .banner-rumen .col a div h3 {
  position: relative;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 28px;
  color: #333;
  height: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.banner .banner-rumen .col a div p {
  font-size: 14px;
  line-height: 24px;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}

.banner .banner-rumen .col a div img {
  position: absolute;
  left: 0;
  top: 3px;
  width: 48px;
  height: 48px;
}

.jieshao {
  padding-top: 40px;
}

.jieshao .jieshao-title {
  text-align: center;
  margin-bottom: 60px;
}

.jieshao .jieshao-title h2 {
  font-size: 32px;
  line-height: 48px;
  color: #000;
  font-weight: 400;
  font-family: "Microsoft YaHei";
}

.jieshao .jieshao-tab li {
  display: inline-block;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding-bottom: 12px;
  overflow: hidden;
  vertical-align: bottom;
  margin-bottom: -1px;
}

.jieshao .jieshao-tab li.sel a {
  color: #00a4ff;
}

.jieshao .jieshao-tab li.line {
  border-bottom: 1px solid #00a4ff;
}

.jieshao .jieshao-tab li:hover a {
  color: #00b8ff;
}

.jieshao .jieshao-tab li a {
  display: block;
  padding: 0 36px;
  font-size: 18px;
  line-height: 28px;
  color: #333;
}

.jieshao .jieshao-tab li a.active {
  color: #00a4ff;
}

.jieshao .jieshao-tab li a img {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: -6px;
  margin-right: 4px;
}

.jieshao .jieshao-content .jieshao-item {
  display: none;
}

.jieshao .jieshao-content .jieshao-item ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.jieshao .jieshao-content .jieshao-item ul a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.jieshao .jieshao-content .jieshao-item ul a div {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.jieshao .jieshao-content .jieshao-item ul a h3 {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

.jieshao .jieshao-content .jieshao-item ul li {
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid transparent;
}

.jieshao .jieshao-content .jieshao-item ul li:hover {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 4px 0 rgba(3, 27, 78, 0.12);
          box-shadow: 0 2px 4px 0 rgba(3, 27, 78, 0.12);
}

.jieshao .jieshao-content .jieshao-item ul li h3.active {
  color: #00a4ff;
}

.free-try {
  position: relative;
  padding: 36px 10px;
  background-color: #00A4FF;
  background-image: linear-gradient(227deg, #00A4FF 0, #006EFF 88%);
  background-size: auto 100%;
  text-align: center;
}

.free-try span {
  font-size: 16px;
  color: #fff;
  line-height: 26px;
}

.free-try span i {
  font-size: 24px;
  margin: 0 2px;
  font-weight: 700;
}

.free-try a {
  display: inline-block;
  width: 136px;
  height: 40px;
  border: 1px solid #99d2ff;
  vertical-align: middle;
  line-height: 40px;
  margin-left: 30px;
  color: #fff;
  font-size: 14px;
  border-radius: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.free-try a:hover {
  background-color: #fff;
  color: #52a4ff;
  border-color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.program {
  position: relative;
  height: 621px;
  padding: 60px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../images/pro-01.jpg");
}

.program .container {
  position: relative;
}

.program .program-title {
  text-align: center;
  margin-bottom: 40px;
}

.program .program-title h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 400;
  color: #fff;
}

.program .program-left .program-left-title {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  margin-bottom: 8px;
  overflow: hidden;
  word-wrap: break-word;
}

.program .program-left .program-left-title h3 {
  font-weight: 400;
}

.program .program-left .program-left-jieshao {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 24px;
  margin-bottom: 28px;
}

.program .program-left .program-left-content {
  padding-top: 20px;
  padding-right: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.program .program-left .program-left-neirong {
  font-size: 14px;
  color: #F5F7FA;
  line-height: 24px;
  display: -webkit-box;
  line-clamp: 3;
  overflow: hidden;
  height: 72px;
  word-wrap: break-word;
}

.program .program-left .program-button {
  margin-top: 32px;
}

.program .program-left .program-button a {
  display: inline-block;
  width: 90px;
  height: 40px;
  background-color: #00a4ff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  border-radius: 2px;
}

.program .program-left .program-logo {
  margin-top: 40px;
}

.program .program-left .program-logo div {
  display: inline-block;
  max-width: 140px;
  margin-right: 40px;
}

.program .program-left .program-logo a {
  display: inline-block;
  height: 45px;
  line-height: 45px;
}

.program .program-left .program-logo img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.program .program-bar {
  position: absolute;
  right: 0;
  top: 100px;
  display: table-cell;
  width: 220px;
  vertical-align: top;
}

.program .program-bar li {
  position: relative;
  border-radius: 2px;
  margin-top: 8px;
}

.program .program-bar li:first-child {
  margin-top: 0;
}

.program .program-bar li:nth-last-child(2) {
  border-bottom: 1px solid #363944;
}

.program .program-bar li.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.program .program-bar a {
  display: block;
  text-decoration: none;
  height: 36px;
  overflow: hidden;
  color: #fff;
  line-height: 36px;
  padding: 0 20px;
  font-size: 16px;
}

.program .program-itme {
  position: absolute;
  display: none;
}

.program .program-sanjiao {
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.program .program-sanjiao::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 70% 30%, 0 100%);
          clip-path: polygon(0 0, 70% 30%, 0 100%);
  background-color: #F5F7FA;
}

.program .program-sanjiao::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(100% 40%, 100% 80%, 35% 16%);
          clip-path: polygon(100% 40%, 100% 80%, 35% 16%);
  background-color: #DCDFE8;
}

.cloud {
  position: relative;
  background-color: #fff;
  padding: 60px 10px;
}

.cloud .cloud-title {
  margin-bottom: 60px;
  text-align: center;
}

.cloud .cloud-title h3 {
  font-size: 32px;
  line-height: 48px;
  color: #000;
  font-weight: 400;
}

.cloud .cloud-title div {
  margin-top: 10px;
  font-size: 16px;
  line-height: 26px;
  color: #666;
}

.cloud .cloud-show-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: #e5e5e5 1px solid;
  position: relative;
}

.cloud .cloud-show-bar li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  margin: 0 80px -1px;
  overflow: hidden;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding-bottom: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cloud .cloud-show-bar li.active a em,
.cloud .cloud-show-bar li.active a span {
  color: #00a4ff;
}

.cloud .cloud-show-bar li:hover a em {
  color: #00a4ff;
}

.cloud .cloud-show-bar li a {
  display: block;
  padding: 0 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  color: #00a4ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cloud .cloud-show-bar li a em {
  display: block;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

.cloud .cloud-show-bar li a span {
  display: block;
  line-height: 24px;
  font-size: 14px;
  color: #999999;
}
/*# sourceMappingURL=index.css.map */